/* For Large Screens */
@media only screen and (min-width: 800px) {

/*
---------------------------------------------------------------------mobile menu
*/
.dropdown {
    display: none;
    visibility: hidden;
}

/*
----------------------------------------------------------------------------hero
*/

/*
-----------------------------------------------------------------------main menu
*/
.nav-list {
    display: block;
    visibility: visible;
    position: absolute;
    width: 50%;
    max-width: 500px;
    left: 50%;
    transform: translate(-50%, 0);
    list-style: none;
    padding: 0;
}

.nav-list li {
    box-sizing: border-box;
    text-align: center;
    float: left;
    font-size: 1.5rem;
    width: 33.3%;
}

.nav-list li:hover {
    border-bottom: 2px solid var(--light-blue);
    transform: translateY(3px);
}

.nav-list a {
    display: block;
    text-decoration: none;
    color: var(--main-blue);
    padding: 25px 0;
}

.nav-list li:hover a {
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0, .4));
}

.nav-list::after {
  content: "";
  clear: both;
  display: table;
}











/*
-------------------------------------------------------------------------welcome
*/
.welcome-div {
    padding: 130px 100px 100px 120px;
}

.welcome-div_content {
    width: 60%;
}

.welcome-div_heading {
    font-size: 2.7rem;
}

.welcome-div_text {
    font-size: 1.5rem;
    line-height: 1.5;
}













/*
------------------------------------------------------------------------services
*/
.services_heading {
    font-size: 2.5rem;
}

.services_item {
    /* width: 50%; */
    float: left;
}

.services_row {
    padding-top: 25px;
    padding-bottom: 75px;
}

.services_text-block {
    width: 80%;
    max-width: 450px;
}

.services_text-block_text {
    font-size: 1.3rem;
}

























/*
-------------------------------------------------------------------------contact
*/




























/* end */
}


















/* .test-div {
    border: 1px solid black;
} */
