/* For Large Screens */
@media only screen and (min-width: 800px) {

/*
---------------------------------------------------------------------mobile menu
*/
.dropdown {
    display: none;
    visibility: hidden;
}

/*
----------------------------------------------------------------------------hero
*/

/*
-----------------------------------------------------------------------main menu
*/
.nav-list {
    display: block;
    visibility: visible;
    position: absolute;
    width: 50%;
    max-width: 500px;
    left: 50%;
    transform: translate(-50%, 0);
    list-style: none;
    padding: 0;
    z-index: 1;
}

.nav-list li {
    box-sizing: border-box;
    text-align: center;
    float: left;
    font-size: 1.5rem;
    width: 33.3%;
    transition: all 0.15s ease-in-out;
}

.nav-list li:hover {
    border-bottom: 2px solid var(--light-blue);
    transform: translateY(3px);
}

.nav-list a {
    display: block;
    text-decoration: none;
    color: var(--font-light-grey);
    padding: 25px 0;
}

.nav-list li:hover a {
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0, .4));
}

.nav-list::after {
  content: "";
  clear: both;
  display: table;
}











/*
-------------------------------------------------------------------------welcome
*/
.welcome-div {
    padding: 130px 100px 100px 120px;
}

.welcome-div_content {
    width: 60%;
}

.welcome-div_heading {
    font-size: 2.7rem;
}

.welcome-div_text {
    font-size: 1.5rem;
    line-height: 1.5;
}













/*
------------------------------------------------------------------------services
*/
.services_content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.services_heading {
    font-size: 2.5rem;
}

.services_item {
    /* width: 50%; */
    float: left;
}

.services_row {
    padding-top: 25px;
    padding-bottom: 75px;
}

.services_text-block {
    width: 80%;
    max-width: 450px;
}

.services_text-block_text {
    font-size: 1.3rem;
}















/*
-------------------------------------------------------------------------Heading
*/
.product-div {
    font-size: 3rem;
    padding: 40px 0px 40px 0px;
}

.contact-div-heading {
    font-size: 3rem;
    padding: 40px 0px 40px 0px;
}

.header-underline {
    width: 100px;
    height: 4px;
}

















/*
------------------------------------------------------------------------Products
*/
.product-row {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.products-item {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 0 20px;
}

.products-item-text {
    max-width: 350px;
}

.product-row::after {
  content: "";
  clear: both;
  display: table;
}




































/*
-------------------------------------------------------------------------contact
*/
.contact-form-top-text {
    width: 60%;
}

.contact-form {
    max-width: 60%;
}



























/* end */
}


















/* .test-div {
    border: 1px solid black;
} */
