/*
variables
*/
:root {
    --main-blue: #2731a0;
    --light-blue: #379cc1;
    --font-dark-grey: #606060;

    --bg-grey: #f4f6f8;
    --bg-grey-darker: #dddfe1;
    --bg-grey-darkest: #cccdcf;
    --bg-dark-grey: #58585b;
    --font-light-grey: #cdcdcd;

}







/*
baseline
*/

* {
    font-family: Calibri, sans-serif;
    margin: 0;
}







/*
----------------------------------------------------------------------------hero
*/

.hero-img img {
    width: 100%;
    display: block;
}














/*
-------------------------------------------------------------------------welcome
*/

.welcome-div {
    padding: 40px 50px 80px 40px;
    background: rgb(251,251,252);
    background: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(233,233,233,1) 90%);
}

    /* For Med Screens */
    @media only screen and (min-width: 500px) {
        .welcome-div {
            padding: 70px 70px 40px 60px;
        }
    }

        /* For Large Screens */
        @media only screen and (min-width: 800px) {
            .welcome-div {
                padding: 130px 100px 100px 120px;
            }
        }

.welcome-div_content {
    padding-left: 15px;
    color: var(--font-dark-grey);
    border-left: 4px solid var(--light-blue);
}

    /* For Med Screens */
    @media only screen and (min-width: 500px) {
        .welcome-div_content {
            padding-left: 25px;
        }
    }

        /* For Large Screens */
        @media only screen and (min-width: 800px) {
            .welcome-div_content {
                width: 60%;
            }
        }

.welcome-div_heading {
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

    /* For Med Screens */
    @media only screen and (min-width: 500px) {
        .welcome-div_heading {
            font-size: 1.8rem;
        }
    }

        /* For Large Screens */
        @media only screen and (min-width: 800px) {
            .welcome-div_heading {
                font-size: 2.7rem;
            }
        }

.welcome-div_text {
    font-size: 1.1rem;
    line-height: 1.35;
}

    /* For Med Screens */
    @media only screen and (min-width: 500px) {
        .welcome-div_text {
            font-size: 1.2rem;
        }
    }

        /* For Large Screens */
        @media only screen and (min-width: 800px) {
            .welcome-div_text {
                font-size: 1.5rem;
                line-height: 1.5;
            }
        }











/*
------------------------------------------------------------------------services
*/

.services-div {
    padding-top: 50px;
    background-color: rgba(233,233,233,1);
}

.services_heading {
    color: var(--font-dark-grey);
    font-size: 2.2rem;
    text-align: center;
    padding: 20px 0px 60px 0px;
}

    /* For Med Screens */
    @media only screen and (min-width: 500px) {
        .services_heading {
            font-size: 2.5rem;
        }
    }

        /* For Large Screens */
        @media only screen and (min-width: 800px) {
            .services_heading {
                font-size: 3.5rem;
            }
        }

.services_item {
    box-sizing: border-box;
}

    /* For Large Screens */
    @media only screen and (min-width: 800px) {
        .services_item {
            width: 50%;
            float: left;
        }
    }

.services_row {

}

    /* For Large Screens */
    @media only screen and (min-width: 800px) {
        .services_row {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }

.services_row::after {
  content: "";
  clear: both;
  display: table;
}

.services_icon-box {
    max-width: 75px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.services_icon-box img {
    width: 100%;
    display: block;
}

.services_mini-heading {
    font-family: arial, sans-serif;
    font-size: 1rem;
    text-align: center;
    color: var(--main-blue);
    padding-bottom: 20px;
}

.services_text-block {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
}

    /* For Med Screens */
    @media only screen and (min-width: 500px) {
        .services_text-block {
            max-width: 70%;
        }
    }

        /* For Large Screens */
        @media only screen and (min-width: 800px) {
            .services_text-block {
                width: 80%;
                max-width: 450px;
            }
        }

.services_text-block_text {
    color: var(--font-dark-grey);
    font-size: 1.1rem;
    line-height: 1.35;
}

    /* For Med Screens */
    @media only screen and (min-width: 500px) {
        .services_text-block_text {
            font-size: 1.2rem;
        }
    }

        /* For Large Screens */
        @media only screen and (min-width: 800px) {
            .services_text-block_text {
                font-size: 1.3rem;
            }
        }





.test-div {
    border: 1px solid black;
}

.trading-hours::after {
  content: "";
  clear: both;
  display: table;
}
