/* For Med Screens */
@media only screen and (min-width: 500px) {




/*
---------------------------------------------------------------------mobile menu
*/


/*
-----------------------------------------------------------------------main menu
*/


/*
----------------------------------------------------------------------------hero
*/













/*
-------------------------------------------------------------------------welcome
*/
.welcome-div {
    padding: 70px 70px 40px 60px;
}

.welcome-div_content {
    padding-left: 25px;
}

.welcome-div_heading {
    font-size: 1.8rem;
}

.welcome-div_text {
    font-size: 1.2rem;
}




















/*
-------------------------------------------------------------------------Heading
*/
.product-div {
    padding: 40px 0px 20px 0px;
}

.contact-div-heading {
    padding: 40px 0px 20px 0px;
}








/*
------------------------------------------------------------------------services
*/
.services_heading {
    font-size: 2rem;
}

.services_text-block {
    max-width: 70%;
}

.services_text-block_text {
    font-size: 1.2rem;
}

.services_mini-heading {
    padding-bottom: 70px;
}
































/*
------------------------------------------------------------------------Products
*/
.products-section {
    max-width: 70%;
}

.products-item {
    margin-bottom: 100px;
}

.product-item-img {
    width: 100%;
    max-width: 350px;
    max-height: 230px;
}

.products-item-text {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}





















/*
-------------------------------------------------------------------------contact
*/
.contact-form-top-text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.contact-form {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}















/*
-------------------------------------------------------------------------contact
*/
































/* end */
}
