/* For Med Screens */
@media only screen and (min-width: 500px) {




/*
---------------------------------------------------------------------mobile menu
*/


/*
-----------------------------------------------------------------------main menu
*/


/*
----------------------------------------------------------------------------hero
*/














/*
-------------------------------------------------------------------------welcome
*/
.welcome-div {
    padding: 70px 70px 40px 60px;
}

.welcome-div_content {
    padding-left: 25px;
}

.welcome-div_heading {
    font-size: 1.8rem;
}

.welcome-div_text {
    font-size: 1.2rem;
}











/*
------------------------------------------------------------------------services
*/
.services_heading {
    font-size: 2rem;
}

.services_text-block {
    max-width: 70%;
}

.services_text-block_text {
    font-size: 1.2rem;
}


























/*
-------------------------------------------------------------------------contact
*/
















/*
-------------------------------------------------------------------------contact
*/
































/* end */
}
