/*
variables
*/
:root {
    --main-blue: #2731a0;
    --light-blue: #379cc1;
    --font-dark-grey: #606060;
    --bg-dark-grey: #58585b;

    --bg-grey: #f4f6f8;
    --bg-grey-darker: #dddfe1;
    --bg-grey-darkest: #cccdcf;

    --font-light-grey: #cdcdcd;

}







/*
baseline
*/

* {
    font-family: Calibri, sans-serif;
    margin: 0;
}







/*
----------------------------------------------------------------------------hero
*/

/*
---------------------------------------------------------------------Mobile Menu
*/

/* Dropdown Button */
.dropbtn {
    background-color: var(--light-blue);
    color: white;
    padding: 16px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: var(--main-blue);
    outline: none;
    box-shadow: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--bg-grey);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: var(--main-blue);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--light-blue);
    color: #FFF;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.hero-div {

}

.nav-list {
    display: none;
    visibility: hidden;
}

.nav-list li {
    float: left;
    font-size: 1.5rem;
    padding: 20px;
}

.nav-list a {
    display: block;
    text-decoration: none;
    color: var(--main-blue);
}

.nav-list::after {
  content: "";
  clear: both;
  display: table;
}

.hero-img img {
    width: 100%;
    display: block;
}














/*
-------------------------------------------------------------------------welcome
*/

.welcome-div {
    padding: 40px 50px 80px 40px;
    background: rgb(251,251,252);
    background: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(233,233,233,1) 90%);
}

.welcome-div_content {
    padding-left: 15px;
    color: var(--font-dark-grey);
    border-left: 4px solid var(--light-blue);
}

.welcome-div_heading {
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.welcome-div_text {
    font-size: 1.1rem;
    line-height: 1.35;
}











/*
------------------------------------------------------------------------services
*/

.services-div {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgba(233,233,233,1);
}

.services_heading {
    color: var(--font-dark-grey);
    font-size: 2rem;
    text-align: center;
    padding: 20px 0px 60px 0px;
}

.services_row::after {
  content: "";
  clear: both;
  display: table;
}

.services_item {
    box-sizing: border-box;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.services_item a {
    text-decoration: none;
}

.services_item:hover .services_icon-box img, .services_item:hover .services_mini-heading {
    cursor: pointer;
    filter: drop-shadow(3px 3px 3px rgb(0, 0, 0, .3));
}

.services_icon-box {
    max-width: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.services_icon-box img {
    width: 100%;
    display: block;
}

/* .services_icon-box img:hover {
    cursor: pointer;
    filter: drop-shadow(3px 3px 3px rgb(0, 0, 0, .3));
} */

.services_mini-heading {
    font-family: arial, sans-serif;
    font-size: 1rem;
    text-align: center;
    color: var(--main-blue);
    padding-bottom: 50px;
}

.services_text-block {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
}

.services_text-block_text {
    color: var(--font-dark-grey);
    font-size: 1.1rem;
    line-height: 1.35;
}


























/*
-------------------------------------------------------------------------contact
*/

.contact-div {
    background: var(--bg-dark-grey);
}

.contact_heading {
    color: var(--font-light-grey);
    padding: 25px 0px 50px 0px;
    text-align: center;
}

.contact-item {
    padding-bottom: 50px;
}

.contact-item_icon-div {
    max-width: 37px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.contact-item_icon-div img {
    width: 100%;
}

.contact-item_text {
    text-align: center;
    color: var(--font-light-grey);
    font-size: 1.5rem;
    letter-spacing: .1rem;
}



















/*
-------------------------------------------------------------------------contact
*/
footer {
    text-align: center;
    color: white;
    padding: 20px;
    background: linear-gradient(270deg, rgba(39, 49, 160,1) 10%, rgba(55, 156, 193,1) 90%);
}

























/* .test-div {
    border: 1px solid black;
} */
